<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="story_card.css"/>
<head>
<title>Iterations</title>
</head>
<body>
	{% for iteration in iteration_list %}
	{% for story in iteration.stories %}
	<table width=80% align="center" {% if 'Blocked' in story.tags %}class"blocked"{% endif %}>
		<tr>
		    {% set col_span = story.tasks|length // 4 %}
		    {% if (story.tasks|length % 4) > 0 %}
		      {% set col_span = col_span + 1 %}
		    {% endif %}
			<th colspan={{ col_span }}>{{ iteration.name }} - {{ story.summary }}</th>
			<th class='point'>{{ story.points }}</th>
		</tr>
		{%- for column in story.tasks|slice(4) -%}
		<tr>
		    {%- for task in column -%}
			<td {% if task.unplanned %} class="unplanned" {% endif %}>{{ task.summary }}<hr><div class="devs">{{ task.names }}</div></td>
			{%- endfor -%}
		</tr>
		{%- endfor -%} 
	</table>
	<br><br><br>
	{%- endfor -%}
	{%- endfor -%}


	<!--{#%- for item in item_list %}
     {{ item }}{% if not loop.last %},{% endif %}
   {%- endfor %} 
   
   {% for story in iteration.stories %}  
    <td> {{ loop.length }} </td>
  </tr>
  <tr>
    <td>{{ story.summary }}</td>
    <td>{{ story.points }}</td>
  </tr>
  {%- endfor %}
   -->

	{% if not loop.last %}
	<br> {% endif %#}
</body>

</html>